@import './vendor/reboot';
@import './mixin/index';

// Colours
$colour-1: #c0001b;
$colour-2: #323232;
$colour-3: #8ce2e0;

// Fonts
$font-size-large: 18px;
$font-size-regular: 14px;

// Grid
$grid-size: 8px;

