@import './variables';
@import url('https://fonts.googleapis.com/css?family=Roboto');

$navigation-height: $grid-size * 8;
$navigation-height-small: $grid-size * 6;
$header-height: 168px;
$header-height-small: 112px;

body {
  font-family: 'Roboto', sans-serif;
}

.header { 
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: #fff;

  @include breakpoint(small) {
    height: $header-height-small;
  }

  @include breakpoint(large) {
    height: $header-height;
  }

  .logo {
    height: $grid-size * 5;

    @include breakpoint(small) {
      width: 170px;
      margin: $grid-size * 1.5 0;
    }

    @include breakpoint(large) {
      width: 200px;
      margin: $grid-size * 4 0;
    }

    &__src {
      width: 100%;
    }
  }
}

.navigation {
  display: grid;
  width: 100%;
  background: $colour-2;
  grid-template-columns: 1fr 1fr;

  @include breakpoint(small) {
    line-height: $navigation-height-small;
  }

  @include breakpoint(large) {
    line-height: $navigation-height;
  }

  &__link {
    align-self: center;
    padding: 0 $grid-size * 2;
    color: #fff;

    &--active,
    &:hover {
      background: #fff;
      color: $colour-1;
      text-decoration: none;
    }

    &:first-of-type {
      justify-self: end;
    }

    &:last-of-type {
      justify-self: flex-start;
    }
  }
}

.container {
  display: flex;
  max-width: 1000px;
  flex-direction: column;
  padding-right: $grid-size * 2;
  padding-left: $grid-size * 2;
  margin-right: auto;
  margin-left: auto;

  @include breakpoint(small) {
    padding-top: ($grid-size);
    margin-top: $header-height-small;
  }

  @include breakpoint(large) {
    padding-top: ($grid-size * 4);
    margin-top: $header-height;
  } 
}

.home {
  &__subheading {
    margin-bottom: $grid-size * 2;
    font-size: $font-size-large;
  }

  &__hero {
    max-width: 100%;

    @include breakpoint(large) {
      min-height: 544px;
    }
  }

  &__link {
    display: block;
    padding: $grid-size * 2;
    margin: $grid-size * 2 0;
    background: $colour-1;
    color: #fff;
    text-align: center;

    &:hover {
      background: $colour-3;
      color: $colour-2;
      text-decoration: none;
    }
  }
}

.faqs {
  font-size: $font-size-regular;

  @include breakpoint(small) {
    &__nav {
      padding: ($grid-size * 2) $grid-size 0;
      margin-bottom: $grid-size * 4;
      background: rgba(0,0,0,0.1);
    }
  }

  &__link {
    padding-bottom: $grid-size * 2;
    border-bottom: 1px solid $colour-1;
    margin-bottom: $grid-size * 2;
    cursor: pointer;

    @include breakpoint(small) {
      &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
      }
    }

    &--active {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  &__main {
    line-height: $grid-size * 3;
  }

  @include breakpoint(small) {
    display: flex;
    flex-flow: column-reverse wrap;

    &__main {
      width: 100%;
    }

    &__nav {
      width: 100%;
    }
  }

  @include breakpoint(large) {
    display: grid;
    width: 100%;
    grid-column-gap: $grid-size * 4;
    grid-template-columns: 1fr 1fr;
  }
}
