@mixin breakpoint($size) {
  $small: 768px;
  $large: $small + 1;

  @if $size == small {
    @media only screen and (max-width: #{$small}) {
      @content;
    }
  }

  @else if $size == large {
    @media only screen and (min-width: #{$large}) {
      @content;
    }
  }
}
